@import '../../../../styles/global.scss';
.userInfo {
    margin-top: 24px;

    &__title {
        font-size: 52px;
        font-family: "Inter";
        &Container {
            margin-bottom: 32px;
        }
    }

    &__text {
        font-size: 24px;
        font-family: "Patrick";
    }
}