@font-face {
  font-family: "Patrick";
  src: url("../assets/fonts/PatrickHand-Regular.ttf");
  font-weight: regular;
  font-style: regular;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter.ttf");
  font-weight: regular;
  font-style: regular;
}

.icon {
  width: 25px;
  cursor: pointer;
}

.list-item {
  text-align: start;
}

.admin-icons {
  display: flex;
  justify-content: flex-end;
}

.list__checkbox {
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid #1B1B1B;
  border-radius: 4px;
  height: 18px;
  width: 18px;
  background: #FFF;
}

.list__checkbox:before {
  content: '\2713';
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list__checkbox:checked {
  background-color: #1B1B1B;
  color: #FFF;
}

.list__checkbox:checked::before {
  opacity: 1;
}

.list__text {
  text-align: start;
  margin-left: 16px;
}

.list__text--completed {
  text-decoration: line-through;
  color: #828282;
  text-align: start;
  margin-left: 16px;
}
