.userAvatarCarousel {
  width: 320px;
  height: 240px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userAvatarCarousel__slide {
  display: flex;
  justify-content: center;
}

.userAvatarCarousel .userAvatarCarousel__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.userAvatarCarousel__image {
  width: 120px !important;
}

.userAvatarCarousel__button {
  background: none;
  border: none;
  height: 48px;
  display: flex;
  width: 48px;
  align-items: center;
  cursor: pointer;
}

.userAvatarCarousel__button img {
  width: 48px;
}
