  .classification-list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;  // Centra verticalmente
    margin-bottom: 10px;
    font-family: "Patrick";
  }
  

  .checkbox-list {
    display: flex;
    flex-direction: column;
    align-items: center;  // Centra verticalmente
    margin-bottom: 10px;
    font-family: "Patrick";
  
    .checkbox-list-element {
      display: flex;
      justify-content: space-between;
      align-items: center;  // Centra horizontalmente
      padding: 8px;
      border-bottom: 2px solid var(--Black, #1B1B1B);
      margin-bottom: 8px;

      .admin-icons {
        display: flex;
        gap: 8px;
      }
    }
  }